$pink: #de2d58;
$light-pink: #ff99cb;

* {
-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;  
   -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

@import "pod-styles";

.pink {color:$pink!important;}
.light-pink {color:$light-pink!important;}

.upcase {text-transform: uppercase!important;}

h1 {
  font-weight: normal!important;
}
html,body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  
}
body {
  background-image: url('Page-BG-02.jpg');
  font-size: 18px;
  width: 100%;
  justify-content: stretch;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;

}
main {
  
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
* {
  font-family: verdana, helvetica, arial, sans-serif;
}
.logo {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
   -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: auto;
  max-width: 340px;
  width: 100%;
  margin-top: 2em;
}
* {
  color: white;
}
.day-links {
  text-transform: uppercase;
  font-weight: 600;
  li {
    padding: .5em;
    padding-left: .75em;
    padding-right: .75em;
    display: inline-block;
    border-radius: 3px;
  }
}
a {
  text-decoration: none;
  transition: color .5s;
  &.active {
    color: $pink;
  }
  &:hover {
    color: $pink;
  }
}
.desc {
  font-weight: 300;
}
.bt, .bb {
  border-bottom-color: $pink!important;
  border-top-color: $pink!important;
}
.has-bg {
  padding: 2em;
  padding-top: 1em;
  border-radius: 3px;
}
img {
  max-width: 100%;
  border-radius: 3px;
}
.bordered {
  border: 1px solid white;
}
.transparent-text {
  color: white;
}
.pullquote {
  background-color: transparentize(darken($pink,50%),0.4);
  padding: 3em;
  font-style: italic;
  color: transparentize(lighten($pink,20%),0.4);
}
.day-links .link-follower {
  border-color: $pink;
  border-size: 3px;
}
#header {
  background-image: url('Header-bg.jpg');
}