{{title "Obey Schedule"}}

<main>
<header id='header' class='pt3 pb4'>
  <img alt="Obey Convention" src="/assets/logo.png" class="logo db "/>
</header>

{{day-links days=model.days}}

<div id="container">
  {{liquid-outlet}}
</div>

</main>