{{title "Obey Schedule"}}

<img alt="Obey Convention" src="/assets/OBEY-2017-Logo-web.png" class="logo db mt4 mb4"/>

{{day-links days=model.days}}

<div id="container">
  {{liquid-outlet}}
</div>

{{day-links days=model.days class="pb4"}}